container_commands:
  01_migrate:
    command: "python manage.py migrate"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "API_Project.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "API_Project/wsgi.py"

packages:
  yum:
    postgresql95-devel: []
